<!DOCTYPE html>
<html>
  <head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Dog Page for {{woof.breed}}</title>
  </head>
  <body>
    <h1>Information about {{woof.breed}} dog</h1>
    <h2>The dog has an average lifespan of {{woof.lifespan}} years.</h2>
    <h2>The dog has an average weight of {{woof.weight}} pounds.</h2>
  </body>
</html>
